<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>GTK+ for Windows</title>
    <meta name="description" content="GTK+ on Windows: GTK+ stack for Windows">
    <link rel="stylesheet" media="screen" href="css/stylesheet.css">
    <link rel="shortcut icon" href="/favicon.ico">
    <script>
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-17775794-8']);
      _gaq.push(['_setDomainName', 'hexchat.org']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
    <!--[if lt IE 9]>
    <script src="/js/html5shiv.js"></script>
    <script src="/js/respond.min.js"></script>
    <script src="/js/selectivizr.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <!-- HEADER -->
    <div id="header_wrap" class="outer">
        <header class="inner">
          <!--a id="forkme_banner" href="https://github.com/hexchat/gtk-win32">View on GitHub</a-->

          <h1 id="project_title">GTK+ for Windows</h1>
          <h2 id="project_tagline">binaries and source code</h2>

            <!--section id="downloads">
              <a class="zip_download_link" href="https://github.com/hexchat/gtk-win32/zipball/master">Download this project as a .zip file</a>
              <a class="tar_download_link" href="https://github.com/hexchat/gtk-win32/tarball/master">Download this project as a tar.gz file</a>
            </section-->
        </header>
    </div>

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">
        {{ content }}
      </section>
    </div>

    <!-- FOOTER  -->
    <div id="footer_wrap" class="outer">
      <footer class="inner">
        <p class="copyright">GTK+ for Windows maintained by <a href="https://github.com/hexchat">HexChat</a></p>
        <p>Published with <a href="http://pages.github.com">GitHub Pages</a></p>
      </footer>
    </div>

  </body>
</html>
